In [3]:
from analytics_utils.snowpark import display, session
from snowflake.snowpark import functions as F

Dataframe API

In [4]:
df2 = session.table("_dev_analytics.open_data__astaus.titanic")

SQL API

In [5]:
df1 = session.sql(""" --begin-sql
    select * from _dev_analytics.open_data__astaus.titanic
""")

SQL Magic

In [6]:
%%sql df3

select
    *
from _dev_analytics.open_data__astaus.titanic

In [9]:
df3.show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"PCLASS"  |"NAME"                           |"SEX"   |"AGE"  |"SIBSP"  |"PARCH"  |"TICKET"           |"FARE"  |"CABIN"  |"EMBARKED"  |"BOAT"  |"BODY"  |"HOME_DEST"  |"SURVIVED"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|3         |Spector, Mr. Woolf               |male    |NULL   |0        |0        |A.5. 3236          |8.05    |NULL     |S           |NULL    |NULL    |NULL         |0           |
|3         |Spinner, Mr. Henry John          |male    |32.0   |0        |0        |STON/OQ. 369943    |8.05    |NULL     |S           |NULL    |NULL    |NULL         |0           |
|3         |Staneff, Mr. Ivan                |male    |NULL   |0        |0        |349208             |7.8958  |NULL     |S           |NULL    |NULL    |NULL         |0           |
|3         |Stankovic, Mr. Ivan              |male    |33.0   |0        |0        |349239             |8.6625  |NULL     |C           |NULL    |NULL    |NULL         |0           |
|3         |Stanley, Miss. Amy Zillah Elsie  |female  |23.0   |0        |0        |CA. 2314           |7.55    |NULL     |S           |C       |NULL    |NULL         |1           |
|3         |Stanley, Mr. Edward Roland       |male    |21.0   |0        |0        |A/4 45380          |8.05    |NULL     |S           |NULL    |NULL    |NULL         |0           |
|3         |Storey, Mr. Thomas               |male    |60.5   |0        |0        |3701               |NULL    |NULL     |S           |NULL    |261.0   |NULL         |0           |
|3         |Stoytcheff, Mr. Ilia             |male    |19.0   |0        |0        |349205             |7.8958  |NULL     |S           |NULL    |NULL    |NULL         |0           |
|3         |Strandberg, Miss. Ida Sofia      |female  |22.0   |0        |0        |7553               |9.8375  |NULL     |S           |NULL    |NULL    |NULL         |0           |
|3         |Stranden, Mr. Juho               |male    |31.0   |0        |0        |STON/O 2. 3101288  |7.925   |NULL     |S           |9       |NULL    |NULL         |1           |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------